html {
    scroll-behavior: smooth;
}

body {
    margin: 30px auto 0;
    font-family: "Roboto", sans-serif;
    background: #61b9f0;
}

#container {
    width: 70%;
    margin: 30px auto 0;
}

#header {
    padding: 10px 10px 10px 60px;
    background-color: #f0ce54;
    border-bottom: 10px solid #61b9f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu {
    background-color: #f0ce54;
    padding: 10px 10px 10px 0;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
}

#menu a.selected, #menu a:hover {
    background-color: #61b9f0;
    border-radius: 5px;
}

#menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#menu ul li {
    float: left;
    padding-right: 40px;
}

#menu ul li:first-child {
    padding-left: 26px;
}

#hometext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#map-google {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#contact-div {
    width: 100%;
    display: flex;
}

#map {
    width: 50%;
    display: flex;
}

#form-div{
    width: 50%;

}
#contact-form{
    padding-top: 10px;
    padding-left: 40px;
}

#contact-form input{
    margin-bottom: 8px;
}

#contact-submit-button {
    margin-top: 40px;
}

#footer {
    background-color: #f0ce54;
    padding: 10px 10px 10px 60px;
    border-radius: 10px;
}