Header always set Access-Control-Allow-Methods "*"
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "*"

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [NC,L]